
<section class="navSec container-fluid p-2">
  <nav class="navBar d-flex justify-content-between">
    <div class="navImg">
      <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_exploreplus-44005d.svg" alt="logo" title="logo">
    </div>
    <div class="navBtn">
      <button class="btn btn-primary">Add Product</button>
    </div>
  </nav>
</section>
<section class="container mt-4 ">
  <div class="row">
    <div class="col-md-12">
      <app-mobile-prod></app-mobile-prod>
    </div>
  </div>
</section>